In [1]:
import geopandas as gpd
import pandas as pd
import numpy as np

In [3]:
path_shp = 'immi/immi_shapefile.shp'
immi = gpd.GeoDataFrame.from_file(path_shp)

In [4]:
immi.head()

,OBJECTID,FID_TM_WOR,FIPS,ISO2,ISO3,UN,NAME,AREA,POP2005,REGION,...,Field22,Field23,Field24,Field25,Field26,Field27,Field28,Shape_Leng,Shape_Area,geometry
0,1.0,7,AR,AR,ARG,32,Argentina,273669,38747148,19,...,4335,4218,4227,3757,3542,3783,3191,140.196185,278.316269,(POLYGON ((-62.64376800009308 -22.238903000373...
1,2.0,8,AS,AU,AUS,36,Australia,768230,20310208,9,...,3062,3146,3529,3582,3795,4173,3818,272.064498,695.813591,(POLYGON ((142.1577450003316 -10.1897220001701...
2,3.0,14,BH,BZ,BLZ,84,Belize,2281,275546,19,...,933,875,969,823,804,878,754,9.157436,1.881269,(POLYGON ((-88.29950000002492 18.4829289996736...
3,4.0,16,BL,BO,BOL,68,Bolivia,108438,9182015,19,...,2113,1920,2005,1663,1549,1481,1399,52.719847,92.183395,POLYGON ((-58.15888999957377 -20.1680559999843...
4,5.0,20,BR,BR,BRA,76,Brazil,845942,186830759,19,...,11643,11248,10772,10246,11247,13528,14832,257.827725,707.180876,(POLYGON ((-56.47063399955937 1.94449899972909...

In [5]:
ls = ['Field'+str(i) for i in range(21, 29)]

In [6]:

immi['2010'] = immi['Field21'] + immi['Field22'] + immi['Field23'] +\
            immi['Field24'] + immi['Field25'] + immi['Field26'] + immi['Field27'] + immi['Field28']

In [7]:
immi = immi.drop(columns=['Field21',
 'Field22',
 'Field23',
 'Field24',
 'Field25',
 'Field26',
 'Field27',
 'Field28'])

In [8]:
immi = immi.rename(columns={
    "Field1" : "countryName",
    "Field2" : 1820,
    "Field3" : 1830,
    "Field4" : 1840,
    "Field5" : 1850,
    "Field6" : 1860,
    "Field7" : 1870,
    "Field8" : 1880,
    "Field9" : 1890,
    "Field10" : 1900,
    "Field11" : 1910,
    "Field12" : 1920,
    "Field13" : 1930,
    "Field14" : 1940,
    "Field15" : 1950,
    "Field16" : 1960,
    "Field17" : 1970,
    "Field18" : 1980,
    "Field19" : 1990,
    "Field20" : 2000,
})

In [9]:
ls = [x for x in range (1820, 2010,10)]
for i in ls:
    immi[i] = immi[i].str.replace(',', '').astype(int)

In [10]:
immi.head()

,OBJECTID,FID_TM_WOR,FIPS,ISO2,ISO3,UN,NAME,AREA,POP2005,REGION,...,1950,1960,1970,1980,1990,2000,Shape_Leng,Shape_Area,geometry,2010
0,1.0,7,AR,AR,ARG,32,Argentina,273669,38747148,19,...,16346,49384,30303,23442,30065,47955,140.196185,278.316269,(POLYGON ((-62.64376800009308 -22.238903000373...,31365
1,2.0,8,AS,AU,AUS,36,Australia,768230,20310208,9,...,8275,14986,18708,16901,24288,32728,272.064498,695.813591,(POLYGON ((142.1577450003316 -10.1897220001701...,28182
2,3.0,14,BH,BZ,BLZ,84,Belize,2281,275546,19,...,1133,4185,6747,14964,12600,9682,9.157436,1.881269,(POLYGON ((-88.29950000002492 18.4829289996736...,7033
3,4.0,16,BL,BO,BOL,68,Bolivia,108438,9182015,19,...,2759,6205,5635,9798,18111,21921,52.719847,92.183395,POLYGON ((-58.15888999957377 -20.1680559999843...,14341
4,5.0,20,BR,BR,BRA,76,Brazil,845942,186830759,19,...,11547,29238,18600,22944,50744,115404,257.827725,707.180876,(POLYGON ((-56.47063399955937 1.94449899972909...,95573

In [11]:
immi_new = immi.drop(list(immi)[0:13], axis=1)
immi_new

,countryName,1820,1830,1840,1850,1860,1870,1880,1890,1900,...,1950,1960,1970,1980,1990,2000,Shape_Leng,Shape_Area,geometry,2010
0,Argentina,0,0,0,0,7,58,64,36,0,...,16346,49384,30303,23442,30065,47955,140.196185,278.316269,(POLYGON ((-62.64376800009308 -22.238903000373...,31365
1,Australia,2,1,2,104,96,8933,7250,3098,11191,...,8275,14986,18708,16901,24288,32728,272.064498,695.813591,(POLYGON ((142.1577450003316 -10.1897220001701...,28182
2,Belize,0,0,0,0,9,26,80,25,583,...,1133,4185,6747,14964,12600,9682,9.157436,1.881269,(POLYGON ((-88.29950000002492 18.4829289996736...,7033
3,Bolivia,0,0,0,0,0,5,0,0,0,...,2759,6205,5635,9798,18111,21921,52.719847,92.183395,POLYGON ((-58.15888999957377 -20.1680559999843...,14341
4,Brazil,0,0,0,0,32,219,199,92,0,...,11547,29238,18600,22944,50744,115404,257.827725,707.180876,(POLYGON ((-56.47063399955937 1.94449899972909...,95573
5,Bulgaria,0,0,0,0,0,0,0,52,34651,...,97,598,1011,1124,16948,40003,20.434389,12.208509,"POLYGON ((22.68143499972552 44.22470099955154,...",20157
6,Canada,2297,11875,34285,64171,117975,323974,492508,2668,123067,...,353169,433128,179267,156313,194788,236349,2313.247231,1695.234086,(POLYGON ((-70.11193800023847 83.1094209995795...,154421
7,Chile,0,0,0,0,25,92,44,66,0,...,4669,12384,15032,19749,18200,19792,342.840080,77.862083,(POLYGON ((-67.18362399984767 -22.821667000231...,13759
8,Colombia,0,0,0,0,2,196,1210,607,0,...,15567,68371,71265,105494,137985,236570,73.814349,92.621496,(POLYGON ((-81.36556999955582 13.3230549997884...,152168
9,Costa Rica,0,0,0,0,2,4,1,4,0,...,4044,17975,12405,25017,17054,21571,15.018302,4.210739,(POLYGON ((-83.64579799957801 10.9248469999890...,17613
10,Cuba,0,0,0,0,3420,8705,20134,23669,0,...,73221,202030,256497,132552,159037,271742,43.259846,9.587250,(POLYGON ((-80.49305699998052 23.1880529999460...,365079
11,Denmark,173,927,671,3227,13553,29278,85342,56671,61227,...,10918,9797,4405,4847,6189,6049,47.201342,6.178631,(POLYGON ((10.43249900042855 57.59221599996846...,4321
12,Dominican Republic,0,0,0,0,0,0,0,0,0,...,10219,83552,139249,221552,359818,291492,13.543902,4.151801,(POLYGON ((-71.76786799970836 18.0385019994677...,396877
13,Ecuador,0,0,0,0,0,7,14,33,0,...,8574,34107,47464,48015,81358,107977,37.444251,20.797241,(POLYGON ((-75.28584299965468 -0.1197219999702...,84660
14,Egypt,0,0,0,5,8,29,145,51,0,...,1996,5581,23543,26744,44604,81564,55.180950,90.493652,(POLYGON ((34.21666000035879 31.32332999987966...,90292
15,Ireland,51617,170672,656145,1029486,427419,422264,674061,405710,344940,...,47189,37788,11461,22210,65384,15642,35.616126,9.368162,(POLYGON ((-7.252507000297783 55.0705949998594...,13701
16,El Salvador,0,0,0,0,0,3,0,7,0,...,5094,14405,29428,137418,273017,251237,7.561847,1.720294,(POLYGON ((-87.81558199980941 13.4053859995642...,151764
17,Ethiopia,0,0,0,0,0,0,0,0,0,...,302,804,2588,12927,40097,87207,46.966852,92.721288,"POLYGON ((42.39971900043156 12.46972099972442,...",111591
18,Austria,0,0,0,0,2700,54529,204805,268218,532416,...,81354,17571,14239,15374,18234,21151,22.254808,10.040827,"POLYGON ((16.9461819996996 48.61906399970388, ...",16824
19,Czech Republic,0,0,0,0,0,0,0,0,0,...,1624,2758,5654,5678,8970,18691,18.652016,9.823920,"POLYGON ((14.82833300006797 50.86582899980857,...",10303
20,Finland,0,0,0,0,3,286,9617,36719,0,...,4923,4310,2829,2569,3970,3970,71.226542,62.627149,(POLYGON ((28.95734000014096 69.05161999976326...,3300
21,France,7694,39330,75300,81778,35938,71901,48193,35616,67735,...,50113,46975,27018,32894,36552,45637,67.847163,64.361531,(POLYGON ((5.807880000261832 49.54504399988076...,37199
22,Germany,5753,124726,385434,976072,723734,751769,1445181,579072,328722,...,576905,209616,77142,85752,92207,122373,61.278131,45.921200,(POLYGON ((8.664544999751968 54.91309399958845...,52229
23,Greece,17,49,17,32,51,209,1807,12732,145402,...,45153,74173,102370,37729,25403,16841,91.424518,13.714997,(POLYGON ((26.36109500043398 41.71105200014972...,10829
24,Guatemala,0,0,0,0,1,10,3,9,0,...,4197,14357,23837,58847,126043,156992,16.828803,9.190457,"POLYGON ((-89.1419530001308 17.81888599998894,...",87421
25,Guyana,0,0,0,0,41,95,68,27,0,...,1131,4546,38278,85886,74407,70373,26.300123,17.182927,(POLYGON ((-57.24850500000571 5.48611099972288...,44511
26,Haiti,0,0,0,0,78,149,124,101,0,...,3787,28992,55166,121406,177446,203827,14.606970,2.338005,(POLYGON ((-72.62834199988333 19.9869420000732...,163247
27,Honduras,0,0,0,0,0,11,4,4,0,...,5320,15087,15653,39071,72880,63513,22.436041,9.438867,(POLYGON ((-83.91056800031294 17.4097209999242...,69241
28,Hungary,0,0,0,0,483,5598,109982,203350,685567,...,31661,10019,6148,5063,9295,12778,18.362844,11.032548,"POLYGON ((22.15144199984849 48.41191899976207,...",8002
29,India,9,38,33,42,50,166,247,102,3026,...,1922,18638,148018,231649,352528,590464,183.472390,278.776858,(POLYGON ((81.02536000046371 30.20435299929153...,516019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35,Jordan,0,0,0,0,0,0,0,0,0,...,4919,9230,25541,28928,42755,53550,16.190343,8.447928,"POLYGON ((39.19674299998951 32.15494200007328,...",62928
36,"Korea, Republic of",0,0,0,0,0,0,0,0,0,...,4845,27048,241192,322708,179770,209758,32.293759,9.840744,(POLYGON ((126.6884920004055 37.83390799985438...,165686
37,Liberia,1,8,5,7,43,52,21,9,0,...,289,841,2391,6420,13587,23316,15.387433,7.850623,POLYGON ((-8.469748999816431 7.561325000048782...,27419
38,Morocco,0,4,1,0,0,15,12,9,0,...,3293,2880,1967,3471,15768,40844,36.571609,38.459577,POLYGON ((-5.395557000055476 35.91633600000642...,31409
39,Mexico,3835,7187,3069,3446,1957,5133,2405,734,31188,...,273847,441824,621218,1009586,2757418,1704166,156.229013,174.176127,(POLYGON ((-97.14073900010476 25.9664289998984...,1193104
40,Belgium,28,20,3996,5765,5785,6991,18738,19642,37429,...,18885,9647,5413,7028,7077,8157,12.174396,3.894167,"POLYGON ((6.011797999777912 50.75727100015661,...",6080
41,Netherlands,1105,1377,7624,11122,8387,14267,52715,29349,42463,...,46703,37918,10373,11234,13345,17351,29.075091,4.709813,"(POLYGON ((6.13499900020372 53.45360599931746,...",11161
42,Norway,0,0,0,0,0,88644,185111,96810,182542,...,22813,17371,3927,3835,5211,4599,307.656395,60.108896,"(POLYGON ((25.8280530002458 71.09860199948275,...",2941
43,Suriname,0,0,0,0,0,0,0,0,0,...,299,612,714,1357,2285,2363,17.265533,11.813046,POLYGON ((-54.16694599955821 5.346943999565951...,1272
44,Nicaragua,0,0,0,0,0,1,1,3,0,...,7812,10383,10911,31102,80446,70015,18.919798,10.674938,(POLYGON ((-83.13185099952398 14.9929789997810...,25119
45,New Zealand,0,0,0,2,6,39,21,12,0,...,1799,3775,5018,6129,8600,12495,84.039542,29.219084,(POLYGON ((-177.8461300001993 -29.278614000135...,7817
46,Paraguay,0,0,0,0,0,2,0,0,0,...,576,1249,1486,3518,6082,4623,31.055101,35.209635,POLYGON ((-58.15888999957377 -20.1680559999843...,3321
47,Peru,0,0,0,0,35,127,25,79,0,...,5980,19783,25311,49958,110117,137614,68.751681,106.501829,POLYGON ((-69.95692399954288 -4.23687400033480...,93392
48,Poland,19,366,105,1087,1886,11016,42910,107793,0,...,6498,55773,33699,63483,172249,117921,35.977106,40.914085,"POLYGON ((19.62725800025657 54.46327199970307,...",46359
49,Panama,0,0,0,0,0,0,0,0,0,...,12601,22177,21395,32957,28149,18120,28.087005,6.120883,(POLYGON ((-77.3666689997745 8.674998999804075...,10161
50,Portugal,252,896,359,4218,4741,13990,15189,25874,65154,...,13928,70568,104754,42685,25497,11479,25.957876,9.601285,(POLYGON ((-7.431853999862142 37.2531889998725...,7107
51,Romania,0,0,0,0,0,0,5842,6808,57322,...,914,2339,10774,24753,48136,52154,29.351132,27.498180,"POLYGON ((28.21484000036577 45.44864699975926,...",26592
52,Philippines,0,0,0,0,0,4,1,19,605,...,17245,70660,337726,502056,534338,545463,141.060605,24.492317,"(POLYGON ((121.956939999981 21.10360700016298,...",420137
53,Russia,86,280,520,423,1667,34977,173081,413382,1501301,...,453,2329,28132,33311,433427,167152,1570.028701,2924.801787,(POLYGON ((59.28749800023257 81.74275199980502...,72924
54,South Africa,0,0,0,0,79,48,23,9,0,...,2278,4360,10002,15505,21964,32221,69.140786,113.142311,(POLYGON ((31.29750400050926 -22.4147640001584...,24160
55,Spain,2866,2016,1917,8803,6970,5571,3999,9189,24818,...,6880,40793,41718,22783,18443,17695,61.989370,53.608263,(POLYGON ((-1.780877000273279 43.3599239996929...,24266
56,Sweden,0,0,0,0,0,90179,401330,237248,244439,...,21418,18779,6371,10106,12614,14783,97.254654,78.628509,(POLYGON ((24.16700700047272 65.81402600009989...,9639
57,Syrian Arab Republic,0,0,0,0,2,7,140,0,0,...,1091,2432,8086,14534,22906,30807,22.605550,18.566990,"POLYGON ((42.35561399988626 37.10692599983508,...",43026
58,Switzerland,3148,4430,4819,24423,21124,25212,81151,37020,32541,...,17577,19193,8536,8316,11768,12173,15.730283,4.891446,"POLYGON ((9.566724000412364 47.54045099981386,...",7507
59,Turkey,19,8,45,94,129,382,2478,27510,127999,...,2980,9464,12209,19208,38687,48394,77.995503,81.202357,(POLYGON ((28.01305400024199 41.98221599986857...,64815
60,United Kingdom,26336,74350,218572,445322,532956,578447,810900,328759,469518,...,195709,220213,133218,153644,156182,171979,121.602752,33.698750,(POLYGON ((-0.8197219994706302 60.688888999527...,114736
61,Uruguay,0,0,0,0,0,22,4,144,0,...,1026,4089,8416,7235,6062,9827,18.642272,17.124408,"POLYGON ((-53.37429800025245 -33.740669000374,...",9453
62,Venezuela,0,0,0,0,36,190,248,0,0,...,9927,20758,11007,22405,35180,82087,81.228481,74.691270,(POLYGON ((-59.99028000012186 8.53527600008737...,77031
63,Viet Nam,0,0,0,0,0,0,0,0,0,...,290,2949,121716,200632,275379,289616,75.559831,27.660920,(POLYGON ((107.9900210003689 21.54241200011376...,255817
64,China,3,8,32,35933,54028,133139,65797,15268,19884,...,23338,96764,218132,402080,591599,741951,319.375610,953.822717,(POLYGON ((130.6043699999756 42.42185999983917...,650918

In [12]:
immi_new = immi_new.drop(list(immi_new)[-4:-1], axis=1)
immi_new.head()

,countryName,1820,1830,1840,1850,1860,1870,1880,1890,1900,...,1920,1930,1940,1950,1960,1970,1980,1990,2000,2010
0,Argentina,0,0,0,0,7,58,64,36,0,...,0,1397,3108,16346,49384,30303,23442,30065,47955,31365
1,Australia,2,1,2,104,96,8933,7250,3098,11191,...,8404,2260,11201,8275,14986,18708,16901,24288,32728,28182
2,Belize,0,0,0,0,9,26,80,25,583,...,285,193,433,1133,4185,6747,14964,12600,9682,7033
3,Bolivia,0,0,0,0,0,5,0,0,0,...,0,77,893,2759,6205,5635,9798,18111,21921,14341
4,Brazil,0,0,0,0,32,219,199,92,0,...,4627,1468,3653,11547,29238,18600,22944,50744,115404,95573

In [13]:
immi_new_melt = pd.melt(immi_new, id_vars=['countryName'], var_name="Decade", value_name = "Immi_num")

In [15]:
#immi_new_melt.to_csv('immi_melt.csv')

In [17]:
path_shp = 'world_map/world_map.shp'
world = gpd.GeoDataFrame.from_file(path_shp)

In [18]:
world.head()

,OBJECTID,FID_TM_WOR,FIPS,ISO2,ISO3,UN,NAME,AREA,POP2005,REGION,SUBREGION,LON,LAT,Shape_Leng,Shape_Area,ObjectID_1,geometry
0,1.0,0,AC,AG,ATG,28,Antigua and Barbuda,44,83039,19,29,-61.783001,17.077999,1.173708,0.046183,1,(POLYGON ((-61.72917199968799 17.6086079994596...
1,2.0,1,AG,DZ,DZA,12,Algeria,238174,32854159,2,15,2.632000,28.163000,70.776927,213.512502,2,"POLYGON ((8.622029999684798 36.94136799943368,..."
2,3.0,2,AJ,AZ,AZE,31,Azerbaijan,8260,8352021,142,145,47.395000,40.430000,26.305241,9.100912,3,(POLYGON ((48.58395400027695 41.83576999948593...
3,4.0,3,AL,AL,ALB,8,Albania,2740,3153731,150,39,20.068001,41.143002,9.757409,3.075918,4,"POLYGON ((20.07142300007143 42.56091300013492,..."
4,5.0,4,AM,AM,ARM,51,Armenia,2820,3017661,142,145,44.563000,40.534000,12.319661,3.142093,5,(POLYGON ((46.54037500010622 38.87558699984021...

In [25]:
world_merge = pd.merge(world, immi_new_melt, left_on = 'NAME', right_on='countryName', how='left')

In [26]:
world_merge = world_merge.dropna()

In [27]:
world_merge.head()

,OBJECTID,FID_TM_WOR,FIPS,ISO2,ISO3,UN,NAME,AREA,POP2005,REGION,SUBREGION,LON,LAT,Shape_Leng,Shape_Area,ObjectID_1,geometry,countryName,Decade,Immi_num
7,8.0,7,AR,AR,ARG,32,Argentina,273669,38747148,19,5,-65.167,-35.376999,140.196185,278.316269,8,(POLYGON ((-62.64376800009308 -22.238903000373...,Argentina,1820,0.0
8,8.0,7,AR,AR,ARG,32,Argentina,273669,38747148,19,5,-65.167,-35.376999,140.196185,278.316269,8,(POLYGON ((-62.64376800009308 -22.238903000373...,Argentina,1830,0.0
9,8.0,7,AR,AR,ARG,32,Argentina,273669,38747148,19,5,-65.167,-35.376999,140.196185,278.316269,8,(POLYGON ((-62.64376800009308 -22.238903000373...,Argentina,1840,0.0
10,8.0,7,AR,AR,ARG,32,Argentina,273669,38747148,19,5,-65.167,-35.376999,140.196185,278.316269,8,(POLYGON ((-62.64376800009308 -22.238903000373...,Argentina,1850,0.0
11,8.0,7,AR,AR,ARG,32,Argentina,273669,38747148,19,5,-65.167,-35.376999,140.196185,278.316269,8,(POLYGON ((-62.64376800009308 -22.238903000373...,Argentina,1860,7.0

In [28]:
world_merge.to_csv('world_merge.csv')